<h1>THEMELESS WONDER</h1>

<p><strong>This is your fate, fool! ------------> </strong> {{message}}</p>

<form action="/message" method="post">
  <input type="text" name="message">
  <button type="submit">Submit</button>
</form>
